@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Montserrat&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  line-height: 1.5;
  width: 100%;
  background-color: #fff5d7;
  -webkit-tap-highlight-color: transparent;
  /* overflow-x: hidden; */
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #ffd865;
  padding: 1rem;
}
.header h1 {
  padding-top: 12px;
}
.header .navbar .toggle {
  position: absolute;
  width: 1rem;
  height: 1.4rem;
  top: 3rem;
  right: 5rem;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .toggle-btn {
  position: absolute;
  top: 0.5rem;
  right: -6px;
  width: 2.5rem;
  height: 4px;
  background: #2f1728;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .toggle-btn::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  width: 3rem;
  height: 4px;
  background: #2f1728;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .toggle-btn::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 2rem;
  height: 4px;
  background: #2f1728;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .toggle-btn.open {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
  background: transparent;
}
.header .navbar .toggle-btn.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
  transform: rotate(45deg) translate(5px, 8px);
}
.header .navbar .toggle-btn.open::after {
  width: 3rem;
  -webkit-transform: rotate(-45deg) translate(3px, -6px);
  transform: rotate(-45deg) translate(0px, -2px);
}
.header .navbar .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 1;
  visibility: hidden;
}
.header .navbar .menu.open {
  visibility: visible;
}
.header .navbar .menu-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  list-style-type: none;
  padding-right: 1rem;
  background: #fff5d7;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .menu-list.open {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.header .navbar .menu-item {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .menu-item.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.header .navbar .menu-link {
  display: inline-block;
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: inherit;
  color: #2f1728;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .menu-link:hover {
  color: #e4495c;
}
.header .navbar .menu .menu-list .menu-item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.header .navbar .menu .menu-list .menu-item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.header .navbar .menu .menu-list .menu-item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
.header .navbar .menu .menu-list .menu-item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}
.header .navbar .brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: inherit;
  color: #2f1728;
  text-transform: uppercase;
}
.header .navbar .brand span {
  color: #e3425b;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
  margin-top: 60px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  margin-bottom: 1em;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.facebook:hover {
  background: #3b5998;
}

.twitter:hover {
  background: #1da1f2;
}

.instagram:hover {
  background: linear-gradient(
    135deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

/* ************ */
/* HOME SECTION */
/* ************ */
.home-slider {
  max-width: 100%;
  height: 500px;
  margin: 0;
  position: relative;
  top: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 375px) {
  .home-slider {
    max-width: 100%;
    height: 650px;
    position: relative;
    top: 0;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .home-slider {
    max-width: 100%;
    height: 650px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 425px) {
  .home-slider {
    max-width: 100%;
    height: 650px;
  }
}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(https://eoligive.sirv.com/Banner/karate-pose-resized.jpg)
    no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: fade 16s infinite;
  -webkit-animation: fade 16s infinite;
}
.slide2 {
  background: url(https://eoligive.sirv.com/Banner/yoga-pose.jpg) no-repeat
    center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: fade2 16s infinite;
  -webkit-animation: fade2 16s infinite;
}
.slide3 {
  background: url(https://eoligive.sirv.com/Banner/gym-resized-re.jpg) no-repeat
    center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: fade3 16s infinite;
  -webkit-animation: fade3 16s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ********** */
/* KEY FRAMES */
/* ********** */
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

/* ************* */
/* ABOUT SECTION */
/* ************* */
/* ********************************************** */
.contain {
  padding: 40px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#about-container {
  width: 100%;
  height: 575px;
}
#about-container h2 {
  font-size: 4.125em;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 1em 0;
  color: #2f1728;
}
#about-container h2:after {
  content: "";
  display: block;
  width: 5%;
  border-bottom: 1px solid #2f1728;
  margin: 8px auto;
}
.container__image img {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 20px 30px 20px 0;
}
.container__text {
  display: inline-block;
  width: 46%;
  font-size: 18px;
  font-family: "Lora", serif;
  text-align: justify;
  line-height: 40px;
  color: #2f1728;
  padding: 10px;
  border: 1px solid #2f1728;
  border-radius: 20px;
}
@media screen and (max-width: 425px) {
  #about-container h2:after {
    width: 15%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 425px) {
  #about-container h2 {
    font-size: 3.125em;
  }
  #about-container h2:after {
    content: "";
    display: block;
    width: 10%;
    border-bottom: 1px solid #2f1728;
    margin: 8px auto;
  }
}
@media (max-width: 768px) {
  .container__text {
    width: 100%;
    font-size: 20px;
    text-align: justify;
  }
  #about-container {
    width: 100%;
    height: auto;
  }
  #about-container h2 {
    padding: 20px;
  }
  .contain {
    padding: 0 30px 21px;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
  }
}
/* ********************************************** */

/* ************* */
/* CARDS SECTION */
/* ************* */
.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  padding-right: 15px;
}
.cards-grid-item {
  min-width: 250px;
  max-width: 250px;
  flex: 1 10px;
  padding-left: 1.5rem;
  padding-right: 1s.5rem;
  margin-bottom: 1rem;
}
.wrapper {
  position: relative;
  padding: 2rem 0;
  background: #fff;
  color: #000000;
  text-align: center;
  /* background-image: url("https://eoligive.sirv.com/Banner/bg-dribble.jpg"); */
  background-image: url("https://eoligive.sirv.com/Banner/inscription-bright.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}
.wrapper h1 {
  font-size: 6.125em;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  margin: 50px 0;
  color: #2f1728;
}
.wrapper p {
  font-size: 3.5em;
  line-height: 1.5;
  margin: 6rem 0;
  font-family: "Lora", serif;
  text-transform: uppercase;
  color: #2f1728;
}
.cards-grid-item {
  min-width: 15%;
  max-width: 100%;
}
.cards-grid-item figure {
  padding: 0;
  margin: 0;
}
.cards-grid-item figure img {
  display: block;
  max-width: 100%;
  height: auto;
}
.cards-grid-item figcaption {
  display: block;
  /* padding: 0.625rem 0.5rem;
  background: #ffffff; */
  font-size: 2em;
  line-height: 1.5;
  margin: 6rem 0;
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
/* ***************************************** */
/* relevant styles */
.img__wrap {
  position: relative;
  /* height: 200px;
  width: 257px; */
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(227, 66, 91, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: 0.5s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}
/* ***************************************** */
/* ************************* */
/* CARDS MEDIA-QUERY SECTION */
/* ************************* */
@media only screen and (max-width: 320px) {
  .wrapper {
    padding: 2rem 0 0 0;
  }
  .wrapper h1 {
    font-size: 2.125em;
    line-height: 1;
  }
  .wrapper p {
    font-size: 1.5em;
    line-height: 2.5;
    margin-bottom: 1rem;
    color: #2f1728;
  }
  .cards-grid-item {
    min-width: 150px;
    max-width: 178px;
  }
}
@media only screen and (max-width: 375px) {
  .wrapper {
    padding: 2rem 0 0 0;
  }
  .wrapper h1 {
    font-size: 3.125em;
    line-height: 1;
    margin: 20px 0;
  }
  .wrapper p {
    font-size: 2em;
    line-height: 2.5;
    margin: 1rem;
    color: #2f1728;
  }
  .cards-grid-item {
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
  .wrapper {
    padding: 2rem 0 0 0;
  }
  .wrapper h1 {
    font-size: 3.125em;
    line-height: 1;
  }
  .wrapper p {
    font-size: 2em;
    line-height: 2.5;
    margin-bottom: 1rem;
    color: #2f1728;
  }
  .cards-grid-item {
    min-width: 100%;
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 425px) {
  .wrapper {
    padding: 2rem 0 0 0;
  }
  .wrapper h1 {
    font-size: 3.125em;
    line-height: 1;
    margin: 20px 0;
  }
  .wrapper p {
    font-size: 2em;
    line-height: 2.5;
    margin: 1rem;
    color: #2f1728;
  }
  .cards-grid-item {
    min-width: 49.33%;
    max-width: 25%;
  }
}
/* ********************************************** */
/* *************** */
/* GALLERY SECTION */
/* *************** */
.gallery-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.section {
  padding: 30px 0;
  color: #2f1728;
  font-size: 2.4rem;
}
.section .top-side {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.section .top-side .title {
  font-weight: 300;
  font-size: 35px;
  display: inline-block;
}
.section .top-side .title:after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1px solid #494949;
  margin: 8px auto;
}
.section.gallery .filters {
  text-align: center;
  font-family: "Lora", serif;
}
.section.gallery .filters ul {
  padding: 0;
}
.section.gallery .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}
.section.gallery .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 24px);
  position: absolute;
  height: 2px;
  background: #000000;
  transition: width 350ms ease-out;
}
.section.gallery .filters ul li:hover:after {
  width: calc(100% - 24px);
  transition: width 350ms ease-out;
}
.section.gallery .filters ul li.active:after {
  width: calc(100% - 24px);
}
.section.gallery .filters-content {
  margin-top: 50px;
}
.section.gallery .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
.section.gallery .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
.section.gallery .filters-content .grid-item {
  cursor: pointer;
}
.section.gallery .filters-content .grid-item img {
  margin: 0;
}
.filters-content {
  max-width: 100%;
  max-height: 100%;
}
.grid-item img {
  max-width: 150px;
  max-height: 175px;
}
/* ***************************** */
/* GALLERY MEDIA QUERIES SECTION */
/* ***************************** */
@media screen and (min-width: 320px) {
  .section.gallery .filters {
    font-size: 15px;
  }
}
@media only screen and (max-width: 320px) {
  .section {
    font-size: 1.3rem;
  }
  .section .top-side .title {
    font-weight: 300;
    font-size: 2.125em;
    display: inline-block;
  }
  .section.gallery .filters ul li {
    padding: 5px 10px;
  }
  #lb-img img {
    max-width: 100%;
    height: 50%;
  }
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 150px;
    max-height: 175px;
  }
  .section.gallery .filters-content {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 375px) and (min-width: 320px) {
  .section {
    font-size: 1.3rem;
  }
  .section .top-side .title {
    font-weight: 300;
    font-size: 24px;
    display: inline-block;
  }
  .section.gallery .filters ul li {
    padding: 5px 10px;
  }
  #lb-img img {
    max-width: 100%;
    height: 50%;
  }
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 150px;
    max-height: 175px;
  }
  .section.gallery .filters-content {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .section {
    font-size: 1.3rem;
  }
  .section .top-side .title {
    font-weight: 300;
    font-size: 2.125em;
    display: inline-block;
  }
  .section.gallery .filters ul li {
    padding: 5px 10px;
  }
  #lb-img img {
    max-width: 100%;
    height: 50%;
  }
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 150px;
    max-height: 175px;
  }
  .section.gallery .filters-content {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .section {
    font-size: 1.3rem;
  }
  .section .top-side .title {
    font-size: 3.125em;
    font-weight: 300;
    display: inline-block;
  }
  .section.gallery .filters ul li {
    padding: 5px 10px;
    font-size: 18px;
  }
  #lb-img img {
    max-width: 100%;
    height: 50%;
  }
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 150px;
    max-height: 175px;
  }
  .section.gallery .filters-content {
    margin-top: 25px;
  }
}
/* **************************** */

/* [LIGHTBOX BACKGROUND] */
#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}
/* [LIGHTBOX IMAGE] */
#lb-img {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
#lb-img img {
  /* ALTERNATE EXAMPLE
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto; */
  max-width: 100%;
  max-height: auto;
}
/* [LIGHTBOX IMAGE ZOOM ON CLICK] */
.zoomD {
  width: 100%;
  height: auto;
  cursor: pointer;
}
/* ********************************************** */
/* *************** */
/* CONTACT SECTION */
/* *************** */
#contact-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: #2f1728;
}
#contact-box h1 {
  text-align: center;
  font-size: 4.125em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 0;
}
#contact-box h1:after {
  content: "";
  display: block;
  width: 15%;
  border-bottom: 1px solid #2f1728;
  margin: 8px auto;
}
#contact-box h3 {
  font-size: 1.125em;
}
#contact-box p,
#contact-box a {
  font-size: 17px;
  max-width: 100%;
  height: auto;
}
.contacts-container {
  font-family: "Lora", serif;
}
.contacts-container .fas {
  font-size: 24px;
}
.mobile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.contacts-btn {
  background-color: #fff5d7;
  border: none;
  color: #2f1728;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #2f1728;
  border-radius: 20px;
}
.contacts-btn:hover {
  background-color: #2f1728;
  color: white;
}
.address-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}
.worikng-hours {
  padding: 10px;
}
/* media-queries */

@media only screen and (min-width: 150px) {
  #contact-box {
    padding: 10px;
  }
  #contact-box h1 {
    text-align: center;
    font-size: 3.125em;
  }
  #contact-box h3 {
    font-size: 3em;
  }
  .mobile-details,
  .fas {
    padding: 10px 0;
  }
  #contact-box p,
  #contact-box a {
    font-size: 20px;
    padding: 10px 10px;
  }
  .contacts-container {
    padding: 0;
  }
  .contacts-container p {
    padding: 0 20px;
  }
  #table {
    display: table;
    width: 100%;
    font-size: 13px;
  }
}
@media only screen and (min-width: 375px) {
  #contact-box {
    padding: 10px;
  }
  #contact-box h1 {
    text-align: center;
    font-size: 3.125em;
  }
  #contact-box h3 {
    font-size: 3em;
  }
  .mobile-details,
  .fas {
    padding: 10px 0;
  }
  #contact-box p,
  #contact-box a {
    font-size: 20px;
    padding: 10px 10px;
  }
  .contacts-container {
    padding: 0;
  }
  #table {
    display: table;
    width: 100%;
    font-size: 13px;
  }
}
@media only screen and (min-width: 425px) {
  #contact-box {
    padding: 15px;
  }
  #contact-box h1 {
    text-align: center;
    font-size: 3.125em;
  }
  #contact-box h3 {
    font-size: 3em;
    padding-bottom: 10px;
  }
  #contact-box p,
  #contact-box a {
    font-size: 20px;
    max-width: 100%;
    height: auto;
  }
  .contacts-container {
    padding: 0;
  }
  .contacts-container p {
    padding: 10px 0;
  }
  .mobile-details {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-bottom: 20px;
  }
  #table {
    display: table;
    width: 100%;
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) {
  #contact-box {
    background: #fff;
    padding: 15px;
  }
  #contact-box h1 {
    text-align: center;
    font-size: 4.125em;
  }
  #contact-box h3 {
    font-size: 3em;
    padding-bottom: 10px;
  }
  #contact-box p,
  #contact-box a {
    font-size: 15px;
    max-width: 100%;
    height: auto;
  }
  .contacts-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-around;
    text-align: center;
    padding: 0;
  }
  .contacts-container p {
    padding: 10px 0;
  }
  #table {
    display: table;
    width: 100%;
    font-size: 15px;
  }
}
/* TABLE FOR BUSINESS HOURS SECTION */
#table {
  margin: 0;
  padding: 0 0 20px 0;
}
.tr {
  display: table-row;
}
.td {
  display: table-cell;
}
.day {
  font-weight: 600;
}
/* GOOGLE-MAPS */
.map-responsive {
  overflow: hidden;
  padding-bottom: 25.25%;
  position: relative;
  height: 0;
  border: 2px solid #2f1728;
  border-radius: 20px;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* ********************************************** */
/* *************** */
/* FOOTER SECTION */
/* ************* */

.footer-distributed {
  background: #2f1728;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #fff5d7;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #e3425b;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #fff5d7;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #e3425b;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #fff5d7;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #fff5d7;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #e3425b;
  border-radius: 2px;
  font-size: 20px;
  color: #fff5d7;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* ********************************************** */
