@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  height: 100%;
  line-height: 1.5;

  -webkit-tap-highlight-color: transparent;
  /* overflow-x: hidden; */
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 75rem;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
}
.header h1 {
  padding-top: 12px;
}
.header .navbar .toggle {
  position: absolute;
  width: 1rem;
  height: 1.4rem;
  top: 2.4rem;
  right: 2rem;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .toggle-btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 2.5rem;
  height: 4px;
  background: #212121;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .toggle-btn::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  width: 3rem;
  height: 4px;
  background: #212121;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .toggle-btn::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 2rem;
  height: 4px;
  background: #212121;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .toggle-btn.open {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
  background: transparent;
}
.header .navbar .toggle-btn.open::before {
  -webkit-transform: rotate(45deg) translate(5px, 8px);
  transform: rotate(45deg) translate(5px, 8px);
}
.header .navbar .toggle-btn.open::after {
  width: 3rem;
  -webkit-transform: rotate(-45deg) translate(3px, -6px);
  transform: rotate(-45deg) translate(0px, -2px);
}
.header .navbar .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 1;
  visibility: hidden;
}
.header .navbar .menu.open {
  visibility: visible;
}
.header .navbar .menu-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  list-style-type: none;
  padding-right: 1rem;
  background: #ffffff;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .menu-list.open {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.header .navbar .menu-item {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .menu-item.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.header .navbar .menu-link {
  display: inline-block;
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: inherit;
  color: #212121;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header .navbar .menu-link:hover {
  color: cyan;
}
.header .navbar .menu .menu-list .menu-item:nth-child(1) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.header .navbar .menu .menu-list .menu-item:nth-child(2) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
.header .navbar .menu .menu-list .menu-item:nth-child(3) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}
.header .navbar .menu .menu-list .menu-item:nth-child(4) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}
.header .navbar .brand {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  color: #212121;
  text-transform: uppercase;
}
/* ************ */
/* HOME SECTION */
/* ************ */
.home-slider {
  max-width: 100%;
  height: 400px;
  margin: 0;
  position: relative;
  top: 0;
  box-sizing: border-box;
}
@media only screen and (max-width: 375px) {
  .home-slider {
    max-width: 100%;
    height: 475px;
    position: relative;
    top: 0;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .home-slider {
    max-width: 100%;
    height: 275px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 425px) {
  .home-slider {
    max-width: 100%;
    height: 350px;
  }
}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(https://eoligive.sirv.com/Banner/karate-pose-resized.jpg)
    no-repeat center;
  background-size: cover;
  animation: fade 16s infinite;
  -webkit-animation: fade 16s infinite;
}
.slide2 {
  background: url(https://eoligive.sirv.com/Banner/yoga-pose.jpg) no-repeat
    center;
  background-size: cover;
  animation: fade2 16s infinite;
  -webkit-animation: fade2 16s infinite;
}
.slide3 {
  background: url(https://eoligive.sirv.com/Banner/gym-resized-re.jpg) no-repeat
    center;
  background-size: cover;
  animation: fade3 16s infinite;
  -webkit-animation: fade3 16s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ********** */
/* KEY FRAMES */
/* ********** */
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

/* ************* */
/* ABOUT SECTION */
/* ************* */

#about-box {
  background: #fff;
  padding: 40px 0px 80px;
  font-family: "Open Sans", sans-serif;
}
#about-box h1 {
  text-align: center;
  font-size: 5.125em;
}
#about-box h3 {
  font-size: 26px;
}
#about-box a {
  color: #70bcb8;
  text-decoration: none;
  display: block;
  font-weight: bold;
}
#about-box a:hover {
  color: #8e7bb2;
}
article.row-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 45px 0;
}
article.row-content div {
  width: 49.4%;
  display: inline-block;
  position: relative;
}
#idea img {
  position: absolute;
  bottom: -66px;
  left: 50px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 320px) {
  #about-box {
    background: #fff;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
  }
  #about-box h1 {
    text-align: center;
    font-size: 2.125em;
  }
  #about-box h3 {
    font-size: 10px;
  }
  #about-box p,
  #about-box a {
    font-size: 8px;
  }
  article.row-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  article.row-content div {
    width: 49.4%;
    display: inline-block;
    position: relative;
  }
  #idea img {
    position: absolute;
    bottom: 2px;
    left: 7px;
    width: 90%;
    height: auto;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  #about-box {
    background: #fff;
    padding: 20px;
  }
  #about-box h1 {
    text-align: center;
    font-size: 2.125em;
  }
  #about-box h3 {
    font-size: 15px;
  }
  #about-box p,
  #about-box a {
    font-size: 10px;
  }
  article.row-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  article.row-content div {
    width: 49.4%;
    display: inline-block;
    position: relative;
  }
  #idea img {
    position: absolute;
    bottom: -4px;
    left: 16px;
    width: 82%;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  #about-box {
    padding: 20px;
  }
  #about-box h1 {
    text-align: center;
    font-size: 3.125em;
  }
  #about-box h3 {
    font-size: 20px;
  }
  #about-box p,
  #about-box a {
    font-size: 15px;
  }
  article.row-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  article.row-content div {
    width: 49.4%;
    display: inline-block;
    position: relative;
  }
  #idea img {
    position: absolute;
    bottom: -25px;
    left: 82px;
    width: 67%;
    height: auto;
  }
}

/* ************* */
/* CARDS SECTION */
/* ************* */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-grid-item {
  min-width: 250px;
  max-width: 250px;
  flex: 1 10px;
  padding-left: 1.5rem;
  padding-right: 1s.5rem;
  margin-bottom: 1rem;
}
.wrapper {
  padding: 2rem 0;
  background: #fff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.wrapper h1 {
  font-size: 4.125em;
  line-height: 1.5;
}
.wrapper p {
  font-size: 2.5em;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #000000;
}
.cards-grid-item figure {
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
}
.cards-grid-item figure img {
  display: block;
  max-width: 100%;
  height: auto;
}
.cards-grid-item figcaption {
  display: block;
  padding: 0.625rem 0.5rem;
  background: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
}
/* ************************* */
/* CARDS MEDIA-QUERY SECTION */
/* ************************* */
@media only screen and (max-width: 320px) {
  .wrapper {
    padding: 2rem 2rem 0 0;
  }
  .wrapper h1 {
    font-size: 2.125em;
    line-height: 1;
  }
  .wrapper p {
    font-size: 1.5em;
    font-family: "Nunito", sans-serif;
    line-height: 2.5;
    margin-bottom: 1rem;
    color: #000000;
  }
  .cards-grid-item {
    min-width: 150px;
    max-width: 150px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 425px) {
  .wrapper {
    padding: 2rem 2rem 0 0;
  }
  .wrapper h1 {
    font-size: 2.125em;
    line-height: 1;
  }
  .wrapper p {
    font-size: 1.5em;
    font-family: "Nunito", sans-serif;
    line-height: 2.5;
    margin-bottom: 1rem;
    color: #000000;
  }
  .cards-grid-item {
    min-width: 150px;
    max-width: 150px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 768px) {
  .wrapper {
    padding: 2rem 2rem 0 0;
  }
  .wrapper h1 {
    font-size: 2.125em;
    line-height: 1;
  }
  .wrapper p {
    font-size: 1.5em;
    font-family: "Nunito", sans-serif;
    line-height: 2.5;
    margin-bottom: 1rem;
    color: #000000;
  }
  .cards-grid-item {
    min-width: 150px;
    max-width: 150px;
  }
}
/* *************** */
/* GALLERY SECTION */
/* *************** */
.gallery-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.section {
  padding: 30px 0;
  color: #333;
  font-size: 2.4rem;
}
.section .top-side {
  text-align: center;
}
.section .top-side .title {
  font-weight: 700;
  font-size: 35px;
  display: inline-block;
}
.section .top-side .title:after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1px solid #494949;
  margin: 8px auto;
}
.section.gallery .filters {
  text-align: center;
}
.section.gallery .filters ul {
  padding: 0;
}
.section.gallery .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}
.section.gallery .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 24px);
  position: absolute;
  height: 2px;
  background: #000000;
  transition: width 350ms ease-out;
}
.section.gallery .filters ul li:hover:after {
  width: calc(100% - 24px);
  transition: width 350ms ease-out;
}
.section.gallery .filters ul li.active:after {
  width: calc(100% - 24px);
}
.section.gallery .filters-content {
  margin-top: 50px;
}
.section.gallery .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
.section.gallery .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
.section.gallery .filters-content .grid-item {
  cursor: pointer;
}
.section.gallery .filters-content .grid-item img {
  margin: 0;
}
.filters-content {
  max-width: 100%;
  max-height: 100%;
}
.grid-item img {
  max-width: 150px;
  max-height: 175px;
}
/* ***************************** */
/* GALLERY MEDIA QUERIES SECTION */
/* ***************************** */
@media only screen and (max-width: 320px) {
  .section {
    font-size: 1.3rem;
  }
  .section .top-side .title {
    font-weight: 700;
    font-size: 2.125em;
    display: inline-block;
  }
  .section.gallery .filters ul li {
    padding: 5px 10px;
  }
  #lb-img img {
    max-width: 100%;
    height: 50%;
  }
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 150px;
    max-height: 175px;
  }
  .section.gallery .filters-content {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .section {
    font-size: 1.3rem;
  }
  .section .top-side .title {
    font-weight: 700;
    font-size: 2.125em;
    display: inline-block;
  }
  .section.gallery .filters ul li {
    padding: 5px 10px;
  }
  #lb-img img {
    max-width: 100%;
    height: 50%;
  }
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 150px;
    max-height: 175px;
  }
  .section.gallery .filters-content {
    margin-top: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .section {
    font-size: 1.3rem;
  }
  .section .top-side .title {
    font-weight: 700;
    font-size: 2.125em;
    display: inline-block;
  }
  .section.gallery .filters ul li {
    padding: 5px 10px;
    font-size: 18px;
  }
  #lb-img img {
    max-width: 100%;
    height: 50%;
  }
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
  .grid-item img {
    max-width: 150px;
    max-height: 175px;
  }
  .section.gallery .filters-content {
    margin-top: 25px;
  }
}

/* Reset height from having an defined to percentage
and use spans to define size */
.hero,
.lrg,
.med,
.sm {
  height: 100%;
}
/* **************************** */
/* [IMAGE] */
.zoomD {
  width: 100%;
  height: auto;
  cursor: pointer;
}
/* [LIGHTBOX BACKGROUND] */
#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}
/* [LIGHTBOX IMAGE] */
#lb-img {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
#lb-img img {
  /* You might want to play around with 
     width, height, max-width, max-height
     to fit portrait / landscape pictures properly. */

  /* ALTERNATE EXAMPLE
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto; */
  max-width: 100%;
  max-height: auto;
}
