@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}
.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
  font-family: "Hind Madurai", sans-serif;
}
.nav div.logo a:hover {
  color: #00e676;
}
.nav div.main_list {
  height: 65px;
  float: right;
}
.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 10;
  padding: 0;
}
.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding-right: 3rem;
}
.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 2.4rem;
}
.nav div.main_list ul li a:hover {
  color: #00e676;
}
.navTrigger {
  display: none;
}
.affix {
  padding-top: 0;
  background-color: #111;
}
/* Media qurey section */
/* TABLETS */
@media screen and (max-width: 768px) {
  body {
    padding: 0 30px 0 30px;
  }
  nav.nav {
    width: 92.2%;
    height: 65px;
    position: fixed;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-sizing: border-box;
  }
  .nav div.logo {
    float: left;
    line-height: 0;
  }
  .nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    font-family: "Hind Madurai", sans-serif;
    line-height: 1;
  }
  .navTrigger {
    display: block;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    opacity: 0.9;
    background-position: center top;
  }
  .nav div.main_list ul li {
    text-align: right;
    padding: 3rem 3rem 0 0;
  }
  .nav div.main_list ul li a {
    text-align: center;
    font-size: 3rem;
  }
  nav.nav.affix {
    padding-top: 25px;
  }
}
/* MOBILE-L-SIZES */
@media screen and (max-width: 425px) {
  nav.nav {
    width: 85.8%;
    height: 65px;
    position: fixed;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-sizing: border-box;
  }
  .nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
  }
  .nav div.main_list ul li a {
    text-align: center;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  nav.nav {
    width: 84%;
  }
}
@media screen and (max-width: 320px) {
  nav.nav {
    width: 81.2%;
  }
  .navTrigger {
    cursor: pointer;
    width: 20px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
  }
  .nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1;
  }
  .nav div.main_list ul li {
    text-align: right;
    padding: 2rem 2rem 0 0;
  }
  .nav div.main_list ul li a {
    text-align: center;
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  nav.nav {
    width: 92.2%;
  }
}
/* ************ */
/* HOME SECTION */
/* ************ */
.home-slider {
  max-width: 100%;
  height: 400px;
  margin: 0;
  position: relative;
  box-sizing: border-box;
}
@media only screen and (max-width: 375px) {
  .home-slider {
    max-width: 100%;
    height: 175px;
  }
}
@media only screen and (max-width: 425px) {
  .home-slider {
    max-width: 100%;
    height: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .home-slider {
    max-width: 100%;
    height: 350px;
  }
}
.slide1,
.slide2,
.slide3 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(https://eoligive.sirv.com/Banner/karate-pose-resized.jpg)
    no-repeat center;
  background-size: cover;
  animation: fade 16s infinite;
  -webkit-animation: fade 16s infinite;
}
.slide2 {
  background: url(https://eoligive.sirv.com/Banner/yoga-pose.jpg) no-repeat
    center;
  background-size: cover;
  animation: fade2 16s infinite;
  -webkit-animation: fade2 16s infinite;
}
.slide3 {
  background: url(https://eoligive.sirv.com/Banner/gym-resized-re.jpg) no-repeat
    center;
  background-size: cover;
  animation: fade3 16s infinite;
  -webkit-animation: fade3 16s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}
.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}
.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}
.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}
.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}
/* ********** */
/* KEY FRAMES */
/* ********** */
@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}
@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}
@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}
@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}
@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

/* ************* */
/* ABOUT SECTION */
/* ************* */

#about-box {
  background: #fff;
  padding: 40px 0px 80px;
  font-family: "Open Sans", sans-serif;
}
#about-box h1 {
  text-align: center;
  font-size: 5.125em;
}
#about-box h3 {
  font-size: 26px;
}
#about-box a {
  color: #70bcb8;
  text-decoration: none;
  display: block;
  font-weight: bold;
}
#about-box a:hover {
  color: #8e7bb2;
}
article.row-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 45px 0;
}
article.row-content div {
  width: 49.4%;
  display: inline-block;
  position: relative;
}
#idea img {
  position: absolute;
  bottom: -66px;
  left: 50px;
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 375px) {
  #about-box {
    background: #fff;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
  }
  #about-box h1 {
    text-align: center;
    font-size: 2.125em;
  }
  #about-box h3 {
    font-size: 10px;
  }
  #about-box p,
  #about-box a {
    font-size: 8px;
  }
  article.row-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  article.row-content div {
    width: 49.4%;
    display: inline-block;
    position: relative;
  }
  #idea img {
    position: absolute;
    bottom: 30px;
    left: 2px;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 425px) {
  #about-box {
    background: #fff;
    padding: 20px;
  }
  #about-box h1 {
    text-align: center;
    font-size: 3.125em;
  }
  #about-box h3 {
    font-size: 20px;
  }
  #about-box p,
  #about-box a {
    font-size: 10px;
  }
  article.row-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  article.row-content div {
    width: 49.4%;
    display: inline-block;
    position: relative;
  }
  #idea img {
    position: absolute;
    bottom: 20px;
    left: 2px;
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 768px) {
  #about-box h1 {
    text-align: center;
    font-size: 3.125em;
  }
  #about-box h3 {
    font-size: 30px;
  }
  #about-box p,
  #about-box a {
    font-size: 20px;
  }
  article.row-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  article.row-content div {
    width: 49.4%;
    display: inline-block;
    position: relative;
  }
  #idea img {
    position: absolute;
    bottom: 10px;
    left: 45px;
    width: 80%;
    height: auto;
  }
}

/* ************* */
/* CARDS SECTION */
/* ************* */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-grid-item {
  min-width: 250px;
  max-width: 250px;
  flex: 1 10px;
  padding-left: 1.5rem;
  padding-right: 1s.5rem;
  margin-bottom: 1rem;
}
.wrapper {
  padding: 2rem 0;
  background: #fff;
  color: #000000;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.wrapper h1 {
  font-size: 5.125em;
  line-height: 1.5;
}
.wrapper p {
  font-size: 2.5em;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #000000;
}
.cards-grid-item figure {
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
}
.cards-grid-item figure img {
  display: block;
  max-width: 100%;
  height: auto;
}
.cards-grid-item figcaption {
  display: block;
  padding: 0.625rem 0.5rem;
  background: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
}
/* ************************* */
/* CARDS MEDIA-QUERY SECTION */
/* ************************* */
/* 400px and Down */
@media only screen and (max-width: 400px) {
  .wrapper h1 {
    font-size: 3.125em;
    line-height: 1;
  }
  .wrapper p {
    font-size: 2em;
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #000000;
  }
}
/* Between 576px and 400px */
@media screen and (max-width: 576px) and (min-width: 400px) {
  .wrapper h1 {
    font-size: 4.125em;
    line-height: 1;
  }
}
@media screen and (max-width: 768px) {
  .cards-grid-item {
    min-width: 150px;
    max-width: 150px;
  }
}
/* *************** */
/* GALLERY SECTION */
/* *************** */
.gallery-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.section {
  padding: 30px 0;
  color: #333;
  font-size: 2.4rem;
}
.section .top-side {
  text-align: center;
}
.section .top-side .title {
  font-weight: 700;
  font-size: 35px;
  display: inline-block;
}
.section .top-side .title:after {
  content: "";
  display: block;
  width: 50%;
  border-bottom: 1px solid #494949;
  margin: 8px auto;
}
.section.gallery .filters {
  text-align: center;
}
.section.gallery .filters ul {
  padding: 0;
}
.section.gallery .filters ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
}
.section.gallery .filters ul li:after {
  content: "";
  display: block;
  width: calc(0% - 24px);
  position: absolute;
  height: 2px;
  background: #000000;
  transition: width 350ms ease-out;
}
.section.gallery .filters ul li:hover:after {
  width: calc(100% - 24px);
  transition: width 350ms ease-out;
}
.section.gallery .filters ul li.active:after {
  width: calc(100% - 24px);
}
.section.gallery .filters-content {
  margin-top: 50px;
}
.section.gallery .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
.section.gallery .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}
.section.gallery .filters-content .grid-item {
  cursor: pointer;
}
.section.gallery .filters-content .grid-item img {
  margin: 0;
}
.filters-content {
  max-width: 100%;
  max-height: 100%;
}
.grid-item img {
  max-width: 150px;
  max-height: 175px;
}
/* ***************************** */
/* GALLERY MEDIA QUERIES SECTION */
/* ***************************** */
/* 600px and Down */
@media only screen and (max-width: 600px) {
  #lb-img img {
    max-width: 75%;
    max-height: 500px;
  }
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
}
/* 676 and Down */
@media only screen and (max-width: 676px) {
  .section {
    font-size: 1.2rem;
  }
  .section .top-side .title {
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
  }
  .section .top-side .title:after {
    content: "";
    display: block;
    width: 50%;
    border-bottom: 1px solid #494949;
    margin: 8px auto;
  }
  .section.gallery .filters ul li {
    padding: 5px 10px;
  }
  .section.gallery .filters ul li:after {
    content: "";
    display: block;
    width: calc(0% - 20px);
    position: absolute;
    height: 2px;
    background: #000000;
    transition: width 350ms ease-out;
  }
  .section.gallery .filters ul li:hover:after {
    width: calc(100% - 20px);
    transition: width 350ms ease-out;
  }
  .section.gallery .filters ul li.active:after {
    width: calc(100% - 20px);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .section.gallery .filters-content .grid-item {
    text-align: center;
  }
}
/* 676px and UP */
@media only screen and (min-width: 676px) {
  .section.gallery .filters ul li {
    padding: 5px 30px;
  }
  .section.gallery .filters ul li:after {
    content: "";
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #000000;
    transition: width 350ms ease-out;
  }
  .section.gallery .filters ul li:hover:after {
    width: calc(100% - 60px);
    transition: width 350ms ease-out;
  }
  .section.gallery .filters ul li.active:after {
    width: calc(100% - 60px);
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section.gallery .filters-content .grid-item {
    padding: 20px 30px;
  }
}

/* Reset height from having an defined to percentage
and use spans to define size */
.hero,
.lrg,
.med,
.sm {
  height: 100%;
}
/* **************************** */
/* [IMAGE] */
.zoomD {
  width: 100%;
  height: auto;
  cursor: pointer;
}
/* [LIGHTBOX BACKGROUND] */
#lb-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;
}
#lb-back.show {
  visibility: visible;
  opacity: 1;
}
/* [LIGHTBOX IMAGE] */
#lb-img {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
#lb-img img {
  /* You might want to play around with 
     width, height, max-width, max-height
     to fit portrait / landscape pictures properly. */

  /* ALTERNATE EXAMPLE
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto; */
  max-width: 75%;
  max-height: auto;
}
